<%- include("partials/header.ejs") %>



    <section>
        <% if(locals.login) {%>
            <h2>you are logged in</h2>
            <% } %>
        <H2>YOU ARE NOT LOGGED IN! ....</H2>
    </section>
</body>
</html>